//置中
.container{
    margin: 0 auto;
    max-width: 1200px;
}
//flex效果
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-direction-reverse{
    flex-direction: row-reverse;
}
.flex-justify-between{
    display: flex;
    justify-content: space-between;
}
.flex-justify-around{
    display: flex;
    justify-content: space-around;
}
.flex-justify-end{
    display: flex;
    justify-content: flex-end;
}
.flex-justify-center{
    display: flex;
    justify-content: center;
}
.flex-align-center{
    display: flex;
    align-items: center;
}
.flex-align-end{
    display: flex;
    align-items: flex-end;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

//字體位置
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
//定位
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}
//margin位移
$mb-1:4px;
$mr-1:4px;
$ml-1:4px;
.mb{
    &-1{
    margin-bottom: $mb-1;
    }
    &-2{
        margin-bottom: $mb-1 * 2;
    }
    &-3{
        margin-bottom: $mb-1 * 3;
    }
    &-4{
        margin-bottom: $mb-1 * 4;
    }
    &-5{
        margin-bottom: $mb-1 * 5;
    }
    &-6{
        margin-bottom: $mb-1 * 6;
    }
    &-7{
        margin-bottom: $mb-1 * 7;
    }
    &-8{
        margin-bottom: $mb-1 * 8;
    }
    &-9{
        margin-bottom: $mb-1 * 9;
    }
    &-10{
        margin-bottom: $mb-1 * 10;
    }
    &-11{
        margin-bottom: $mb-1 * 11;
    }
    &-12{
        margin-bottom: $mb-1 * 12;
    }
    &-13{
        margin-bottom: $mb-1 * 13;
    }
    &-14{
        margin-bottom: $mb-1 * 14;
    }
    &-15{
        margin-bottom: $mb-1 * 15;
    }
    &-20{
        margin-bottom: $mb-1 * 20;
    }
    &-39{
        margin-bottom: $mb-1 * 39;
    }
}
.mr{
    &-1{
    margin-right: $mr-1;
    }
    &-2{
        margin-right: $mr-1 * 2;
    }
    &-3{
        margin-right: $mr-1 * 3;
    }
    &-4{
        margin-right: $mr-1 * 4;
    }
    &-5{
        margin-right: $mr-1 * 5;
    }
    &-6{
        margin-right: $mr-1 * 6;
    }
    &-7{
        margin-right: $mr-1 * 7;
    }
    &-8{
        margin-right: $mr-1 * 8;
    }
    &-9{
        margin-right: $mr-1 * 9;
    }
    &-10{
        margin-right: $mr-1 * 10;
    }
    &-11{
        margin-right: $mr-1 * 11;
    }
    &-12{
        margin-right: $mr-1 * 12;
    }
    &-13{
        margin-right: $mr-1 * 13;
    }
    &-14{
        margin-right: $mr-1 * 14;
    }
    &-15{
        margin-right: $mr-1 * 15;
    }
    &-22{
        margin-right: $mr-1 * 22;
    }
}
.ml{
    &-1{
    margin-left: $ml-1;
    }
    &-2{
        margin-left: $ml-1 * 2;
    }
    &-3{
        margin-left: $ml-1 * 3;
    }
    &-4{
        margin-left: $ml-1 * 4;
    }
    &-5{
        margin-left: $ml-1 * 5;
    }
    &-6{
        margin-left: $ml-1 * 6;
    }
    &-7{
        margin-left: $ml-1 * 7;
    }
    &-8{
        margin-left: $ml-1 * 8;
    }
    &-9{
        margin-left: $ml-1 * 9;
    }
    &-10{
        margin-left: $ml-1 * 10;
    }
    &-11{
        margin-left: $ml-1 * 11;
    }
    &-12{
        margin-left: $ml-1 * 12;
    }
    &-13{
        margin-left: $ml-1 * 13;
    }
    &-14{
        margin-left: $ml-1 * 14;
    }
    &-15{
        margin-left: $ml-1 * 15;
    }
    &-22{
        margin-left: $ml-1 * 22;
    }
}
