body {
    font-size: 16px;
    line-height: 24px;
}
.title {
    font-size: 48px;
    line-height: 72px;
    border-width: bold;
    font-weight: 700;
    color: #650300;
    &--dark {
        color: #000;
    }
}
.subtitle {
    color: #650300;
    font-size: 24px;
    line-height: 36px;
    border-width: bold;
    font-weight: 700;
}

h1 {
    top: 50%;
    left: 50%;
    font-size: 64px;
    font-weight: 700;
    color: #650300;
    small {
        font-size: 36px;
        line-height: 96px;
    }
}
.pro {
    background: #aa06010d;
    .title {
        padding-top: 64px;
    }
    &__list {
        padding-bottom: 80px;
        li {
            width: 23.5%;
            margin-right: 24px;
            padding: 0 37px;
            img {
                margin-bottom: 40px;
                width: 100px;
                height: 100px;
            }
            &:nth-child(3) img {
                margin-bottom: 42px;
            }
            &:last-child img {
                margin-bottom: 54px;
            }
        }
        h3 {
            margin-bottom: 4px;
        }
    }
}
.classic {
    p {
        color: #aa0601;
        font-size: 48px;
        line-height: 72px;
        border-width: bold;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.customer {
    &__list {
        li {
            h4 {
                font-size: 16px;
                line-height: 21px;
            }
            width: 23.5%;
            margin-right: 24px;
            &:last-child {
                margin-right: 0;
            }
        }
        &--border {
            padding: 16px;
            border: 1px solid #dee2e6;
        }
        &--secondary {
            color: #707070;
            font-size: 16px;
            line-height: 21px;
        }
    }
}
.contact {
    background-color: #aa06010d;
    padding: 64px 0 92px 0;
    p {
        font-size: 20px;
        line-height: 30px;
    }
    &__container {
        max-width: 792px;
        margin: 0 auto;
    }
    label,
    textarea {
        display: block;
    }
    label {
        margin-bottom: 4px;
    }
    .form-item {
        input,
        textarea {
            width: 100%;
            font-size: 16px;
            line-height: 24px;
        }
        input {
            margin-bottom: 16px;
            padding: 14px 0 14px 16px;
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }

        textarea {
            margin-bottom: 16px;
            padding: 14px 0 100px 16px;
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
    .form-agree {
        margin-bottom: 42px;
        input {
            margin-right: 4px;
        }
        label {
            display: inline;
        }
    }
    .form-button {
        input {
            background: #aa0601;
            color: #fff;
            border: none;
            padding: 16px 58px 16px 58px;
            font-size: 16px;
            line-height: 24px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
